# .gitignore
# Node.js
node_modules/
# frontend/node_modules/

# Build output
build/
frontend/build/

# Python
__pycache__/
*.pyc

# Environment variables
backend/.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db
venv/

